html, body, header, h1, a, ul, li,
strong, button, select, label, option,
table, tbody, th, tr,
i, main, section, img, div,
h2, h3, h4, p, input, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Helvetica, sans-serif;
  font-size: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-weight: inherit;
  z-index: inherit; }

ul {
  list-style: none; }

button:hover {
  cursor: pointer; }

body {
  min-width: 900px;
  font-weight: 500;
  color: #959595;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-sizing: content-box;
  z-index: 0; }

input {
  font-style: italic;
  padding: .5em .75em;
  border-radius: 5px;
  border: 1px solid #d4d4d4; }

strong {
  font-weight: 400;
  color: black; }

a:hover {
  text-decoration: underline; }

section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  display: flex; }

section.messages {
  flex-flow: column; }

section.query-bar {
  border-bottom: 1px solid #ebebeb; }

section.query-display {
  flex-direction: column;
  justify-content: flex-start; }

section.table-container {
  justify-content: space-between; }

.input-fields {
  margin-right: 2em;
  width: auto; }

.input-fields > *:not(:last-child) {
  margin-right: 1em; }

.query-buttons > button:not(:last-child) {
  margin-right: 1.5em; }

.input-fields {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .input-fields select {
    width: auto;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    margin-left: 5px; }
  .input-fields label {
    white-space: nowrap; }
  .input-fields > .flex-full {
    width: 20%; }
  .input-fields > .flex-half {
    width: 8%; }
  .input-fields select {
    width: 66%; }

.query-buttons {
  width: 300px; }

button.advanced-toggle {
  text-decoration: underline;
  color: #1377d5; }

button.add-products, button.edit-toggle, #confirm-modal button {
  padding: .5em .75em;
  border-radius: 5px;
  color: white;
  background: #1377d5; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#loader {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  border: 0.5rem solid #1377d5;
  border-top-color: white;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 2; }

#confirm-modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  top: 0;
  background-color: rgba(88, 88, 88, 0.56); }
  #confirm-modal > div {
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    background: #d4d4d4;
    width: 60%;
    height: 7em;
    display: flex;
    flex-flow: column;
    color: black;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 1em; }
  #confirm-modal div.confirm-message {
    text-align: center;
    padding: 1em 0 1.5em 0; }
  #confirm-modal div.confirm-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: .5em; }

@media (max-width: 1500px) {
  body {
    font-size: 12px; } }
@media (max-width: 1200px) {
  body {
    font-size: 8px; } }
h2 {
  padding-bottom: 1em;
  font-size: 1.5em; }

h3 {
  padding: 1em; }

.table-container > div {
  width: 100%; }
  .table-container > div > * {
    width: 100%; }
.table-container .table-search-local {
  width: 12%; }

table.main-table {
  width: 100%;
  background-color: #ebebeb;
  border-collapse: collapse;
  color: black; }
  table.main-table input {
    font-style: normal;
    margin-right: .5em; }
  table.main-table .no-msrp {
    font-style: italic;
    color: #959595; }
  table.main-table > thead {
    font-weight: 400;
    color: black;
    width: 100%; }
    table.main-table > thead .sort-category {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  table.main-table > tbody {
    width: 100%;
    background-color: white; }
    table.main-table > tbody tr {
      border-bottom: 3px solid #ebebeb; }
      table.main-table > tbody tr .table-product h4 {
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
  table.main-table .table-brandname > div {
    display: flex;
    flex-wrap: nowrap; }
  table.main-table .table-product, table.main-table .table-review-delete {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    table.main-table .table-product > div, table.main-table .table-review-delete > div {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      align-items: center; }
      table.main-table .table-product > div > .thumbnail, table.main-table .table-review-delete > div > .thumbnail {
        height: 4em;
        width: auto;
        margin-right: 2em; }
  table.main-table th, table.main-table td {
    padding: 1em 1.5em;
    border: none;
    vertical-align: middle; }
  table.main-table td.table-brandname:hover {
    cursor: pointer; }
    table.main-table td.table-brandname:hover h4 {
      text-decoration: underline; }
  table.main-table a {
    border: 1px solid #d4d4d4;
    border-radius: 5px; }
    table.main-table a img {
      height: 1.5em;
      padding: 3px; }
  table.main-table .table-delete {
    height: 1.5em; }
  table.main-table .table-delete:hover {
    cursor: pointer; }
  table.main-table .table-foot > td {
    display: flex; }
    table.main-table .table-foot > td > span, table.main-table .table-foot > td > div {
      margin-right: 1em; }
    table.main-table .table-foot > td > div.not-current-page {
      color: #1377d5;
      text-decoration: underline; }
    table.main-table .table-foot > td > div:hover {
      cursor: pointer; }
  table.main-table .table-sort-arrow:hover {
    cursor: pointer; }

/*# sourceMappingURL=master.css.map */
