section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    display: flex;
}

section.messages {
    flex-flow: column;
}

section.query-bar {
    border-bottom: 1px solid $grey-table;
}

section.query-display {
    flex-direction: column;
    justify-content: flex-start;
}

section.table-container {
    justify-content: space-between;
}
.input-fields {
    margin-right: 2em;
    width: auto;
}
.input-fields > *:not(:last-child) {
    margin-right: 1em;
}
.query-buttons > button:not(:last-child) {
    margin-right: 1.5em;
}

.input-fields {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // max-width: 690px;

    select {
        width: auto;
        height: 2em;
        border-radius: $borderRad;
        border: 1px solid $grey-border;
        margin-left: 5px;
    }
    label {
        white-space: nowrap;
    }
    > .flex-full {
        width: 20%;
    }
    > .flex-half {
        width: 8%;
    }
    select {
        width: 66%;
    }
}

.query-buttons {
    width: 300px;
}

button.advanced-toggle {
    text-decoration: underline;
    color: $blue-buttons;
}

button.add-products, button.edit-toggle {
    padding: .5em .75em;
    border-radius: $borderRad;
    color: white;
    background: $blue-buttons;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    border: .5rem solid $blue-buttons;
    border-top-color: white;
    animation: spin 1s infinite linear;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 2;
}

@media (max-width: 1500px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 8px;
    }
}
